<ion-view view-title="{{episode.title}}">
	<ion-content has-bouncing="true" padding="false">
	
    <img ng-src="img/episodes/{{episode.image}}">

		<div class="item item-dark item-divider">{{episode.air_date | date: 'dd MMMM, h:mm a' }}</div>
    <ion-toggle class="item-dark" ng-model="remindMe">Herinner mij</ion-toggle>

    <div class="item item-dark item-divider">Beschrijving</div>
		<p class="padding">{{episode.description}}</p>

		<ul class="myths">
			<li class="item item-dark item-divider">Myths in deze aflevering</li>
			<div ng-repeat="myth in episode.myths" ng-if="$index%2==0" ng-init="epIndex = $index" class="row">
				<li ng-repeat="i in [0, 1]" ng-if="(epIndex + i)<episode.myths.length" class="col col-50 myths-item">
					<a ng-href="#/myths/{{episode.myths[epIndex+i]._id}}">
						<p>{{episode.myths[epIndex+i].title}}</p>
					</a>
				</li>
			</div>
		</ul>

	</ion-content>
</ion-view>