<ion-view view-title="<img class='mythBusters' src='./img/MythBusters_logo.png'/>">
	<ion-content has-bouncing="true">

		<ion-list>
      <div class="item item-dark item-divider">
        <i class="icon ion-record wearelive-icon"></i> Nu op Discovery Channel&#153;
      </div>
      <ion-item ng-repeat="episode in episodes | limitTo: 1" class="item item-dark no-padding">
        <a class="current-episode" ng-href="#/episodes/{{episode._id}}">
					<figure>
						<img class="no-padding" ng-src="img/episodes/{{episode.image}}">
						<figcaption>{{episode.title}}</figcaption>
					</figure>
        </a>
      </ion-item>

			<div class="item item-dark item-divider">Volgende afleveringen</div>
			<ion-item ng-repeat="episode in episodes" ng-hide="$first" ng-href="#/episodes/{{episode._id}}" class="episode item item-dark item-thumbnail-left item-icon-right">
				<img ng-src="img/episodes/{{episode.thumbnail}}">
				<h2>{{episode.title}}</h2>
				<p>{{episode.air_date | date: 'dd MMMM, h:mm a' }}</p>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
		</ion-list>

		<div class="item item-dark item-divider">Alle afleveringen</div>
		<ion-item ng-repeat="episode in episodes" ng-href="#/episodes/{{episode._id}}" class="item item-dark item-icon-right">
			<p>{{episode.title}}</p>
			<i class="icon ion-chevron-right"></i>
		</ion-item>
		
	</ion-content>
</ion-view>