<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	
	<ion-side-menu side="right">
		<ion-header-bar class="bar-dark"></ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close href="#/episodes" class="item-icon-left">
					<i class="icon ion-home"></i>Home
				</ion-item>
				<ion-item nav-clear menu-close href="#/stats" class="item-icon-left">
					<i class="icon ion-stats-bars"></i>Mijn stats
				</ion-item>
				<ion-item menu-close href="#/settings" class="item-icon-left">
					<i class="icon ion-settings"></i>Instellingen
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>