<ion-view view-title="Feit of fictie?">
	<ion-content has-bouncing="true">
	
   	<h3 class="myths-item myths-title">{{myth.title}}</h3>
   	<p class="padding">{{myth.description}}</p>
   	<div class="row">
			<div class="col-25 col-offset-75 button-bar">
   			<a class="button button-dark button-icon icon ion-share"></a>
   		</div>
		</div>

   	<div class="item item-dark item-divider">Wat denk jij?</div>
    <div class="myths-buttons button-bar">
      <button 
        class="button button-icon button-dark" 
        ng-class="{'button-confirmed': isActive('confirmed')}" 
        ng-click="setActive('confirmed')"><img class="mythBusters mythBusters-button" src="img/MythBusters_confirmed.png"></button>
      <button 
        class="button button-icon button-dark"
        ng-class="{'button-plausible': isActive('plausible')}" 
        ng-click="setActive('plausible')"><img class="mythBusters mythBusters-button" src="img/MythBusters_plausible.png"></button>
      <button 
        class="button button-icon button-dark"
        ng-class="{'button-busted': isActive('busted')}"
        ng-click="setActive('busted')"><img class="mythBusters mythBusters-button" src="img/MythBusters_busted.png"></button>
    </div>

   	<div class="item item-dark item-divider">Wat denken anderen?</div>
    <div style="margin: 10px;">
    	<canvas tc-chartjs-line chart-options="chartOpts" chart-data="chartData"></canvas>
    </div>
	
		<div class="item item-dark item-divider">Reageren</div>
    <label class="item item-dark item-input">
    	<textarea class="textarea-dark" rows="3" placeholder="Bericht..." ng-model="$parent.yourComment"></textarea>
    </label>
    <div class="row">
    	<div class="col-25 col-offset-75 button-bar">
    		<a ng-click="placeComment()" class="right button button-dark button-icon icon ion-paper-airplane"></a>
    	</div>
    </div>

    <ion-list>
			<div class="item item-dark item-divider">Comments</div>
			<ion-item ng-repeat="comment in comments" class="item item-dark item-avatar">
				<img src="http://placehold.it/100x100">
				<h2>{{comment.name}}</h2>
				<p>{{comment.text}}</p>
			</ion-item>
  	</ion-list>

	</ion-content>
</ion-view>