<ion-view view-title="Mijn stats">
	<ion-content has-bouncing="true">
		<ion-item class="item item-dark item-avatar">
			<img src="http://placehold.it/100x100">
			<h2>Lars Hisken</h2>
			<p>Die-hard MythBuster</p>
		</ion-item>
		<div class="item item-dark item-divider">Wat voor MythBuster ben jij?</div>
		<div style="padding-top: 15px;" class="row row-center">
			<div class="col-50">
				<canvas tc-chartjs-pie chart-options="chartOpts" chart-data="chartData"></canvas>
			</div>
			<div class="col-50">
				<p class="padding">Je hebt het in <b>56%</b> van de gevallen bij het juiste eind.</p>
			</div>
		</div>
		<ion-item class="item item-dark">
			<p>Je doet het <b>143%</b> beter dan je vrienden</p>
		</ion-item>
		<ion-item class="item item-dark">
			<p>Je staat boven <b>96%</b> van alle andere kijkers.</p>
		</ion-item>
		<ion-item class="item item-dark">
			<p>In het totaal heb je <b>57</b> myths gebust.</b></p>
		</ion-item>
		</div>
		<div class="item item-dark item-divider">Vrienden</div>

		<div class="row">
			<div class="col">
				<ion-item class="item item-dark item-avatar">
					<img src="http://placehold.it/100x100">
					<h2>Kees de Haan</h2>
					<p>De Buster der Myths</p>
				</ion-item>
			</div>
			<div class="col">
				<ion-item class="item item-dark item-avatar">
					<img src="http://placehold.it/100x100">
					<h2>Jack Groef</h2>
					<p>Die-hard MythBuster</p>
				</ion-item>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ion-item class="item item-dark item-avatar">
					<img src="http://placehold.it/100x100">
					<h2>Jip Roos</h2>
					<p>-</p>
				</ion-item>
			</div>
			<div class="col">
				<ion-item class="item item-dark item-avatar">
					<img src="http://placehold.it/100x100">
					<h2>Jochem van Rossem</h2>
					<p>Myth-Manager</p>
				</ion-item>
			</div>
		</div>
	</ion-content>
</ion-view>

