$blue: #2E6294 !default;
$orange: #E49F3A !default;
$darkest: #171717 !default;
$darker: #222 !default;
$dark: #262626 !default;
$light: #DDD !default;
$lighter: #EEE !default;
$lightest: #FFF !default;

/* Layout variables */
$bar-height: 55px !default;

/* Style variables */
$base-color: $lighter !default;
$base-background-color: $darker !default;


/* Variables
$base-background-color: #111 !default;
$base-color: #fff !default;
$dark: #111 !default;
$font-size-large: 22px;

$bar-height: 55px !default;

$item-border-width: 0 !default;
$item-divider-bg: #222 !default;
$item-divider-color: #fff !default;

$button-bar-padding: 0 !default;
$button-border-radius: 0 !default;
$button-dark-border: $dark !default;
$button-dark-active-border: $dark !default;

$button-dark-bg: #222 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.item.item-dark.item-divider {
	color: $orange;
	background-color: $darkest;
}

.mythBusters {
	max-height: 55px;
	padding: 10px 0;
	&-button {
		max-height: 40px;
	}
}

/* app.episodes */
.wearelive-icon { color: $balanced; }
.current-episode figure {
	img {
		position: relative;
	}
	figcaption {
		font-weight: bold;
		font-size: $font-size-large;
		color: $lighter;
		position: absolute;
		bottom: 10px;
		right: 0;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.7);
		padding: 10px;
	}
}
.episode .item-content {
	padding: 20px 54px 20px 106px;
	h2, p {
		margin: 0;
		line-height: 30px;
	}
}

/* app.episodes-detail */
.myths {
	.row {
		padding: 0;
		padding-top: 1px;
	}
	&-item {
		padding: 15px;
		background-color: $blue;
		background-image: linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.3), transparent 1px),
		linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
		background-size:60px 60px, 60px 60px, 12px 12px, 12px 12px;
		background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
		font-family: 'Happy Monkey', sans-serif;
		font-size: 18px;
		border: 1px dashed $lighter;
		a {
			color: $lightest;
			text-decoration: none;
		}
	}
	&-title {
		padding: 30px 20px;
		color: $lightest;
		font-size: 24px;
	}
	&-buttons {
		padding: 10px;
	}
}

/* app.myth-detail */
.button-bar .button {
	&-confirmed {
		background-color: green !important;
	}
	&-plausible {
		background-color: orange !important;
	}
	&-busted {
		background-color: red !important;
	}
}
.textarea-dark {
	color: $lighter;
	background-color: $dark;
	resize: none;
}


.no-padding {
	padding: 0px !important;
}
img {
	vertical-align: top !important;
	max-width: 100%;
	height: auto;
}